@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

html {
    background-color: #2b1055;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav-list li {
    list-style: none;
    margin-left: 20px;
}

.header .nav-list li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

.header .nav-list li a:hover,
.header .nav-list li .active {
    background: #fff;
    color: #2b1055;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.home img#moon {
    mix-blend-mode: screen;
}

.home img#mountains_front {
    z-index: 10;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: -1000px;
    transform: translateY(-40px);
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.animation {
    position: relative;
    padding: 100px;
    min-height: 100vh;
    background: #1c0522;
}
.animation:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, #7597de, #1c0522);
    z-index: 1000;
}

.animation h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.animation p {
    font-size: 1.2em;
    color: #fff;
}

.contact {
    height: 100vh;
    background: #7597de;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-title {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 30px;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    width: 100%;
}

.contact-list .card {
    position: relative;
    width: 240px;
    height: 320px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset 5px 5px 5px rgba(255, 255, 255, 0.5),
        -5px -5px -5px rgba(0, 0, 0, 0.05),
        -5px -5px -5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 0;
}
.contact-list .card a {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-size: 1.8rem;
    text-decoration: none;
    transition: 0.5s;
}
.contact-list .card:hover a {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
    color: #fff;
}

@media (max-width: 960px) {
    body::before {
        content: "Please open in computer!";
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #fff;
        font-size: 2rem;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #2b1055;
        position: fixed;
        z-index: 100000;
    }
}

.animations__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    z-index: 1;
}

.animations__list .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.animations__list .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    transition: 0.5s;
}

.animations__list .card:hover .content {
    transform: translateY(0px);
}

.animations__list .card:hover .content p,
.animations__list .card:hover .content a {
    opacity: 1;
}

.animations__list .card .content h2 {
    position: absolute;
    top: -100px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.animations__list .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.animations__list .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    opacity: 0;
    transition: 0.5s;
}

.animations__list .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.5s;
}
